addict
argparse
einops
future
h5py
lpips
lmdb
matplotlib
numpy>=1.17
opencv-python
pandas
Pillow
pyyaml
requests
scikit-image
scipy
setuptools
tb-nightly
tensorboard
tensorboardX
torch>=1.10.2
torchvision>=0.11.3
tqdm
wandb
yapf
